.bienve {
    text-align: center;
    position: sticky;
    margin-top: 20%;
    font-size: 70px;
    color: #ffeba7;
    font-family: candara;
    text-shadow: 15px 15px 8px rgba(10, 10, 10, 0.978);
    top: 40%;
    transform: translateY(-50%);
}

#inicio {
    /* background: url('../image/fondo-practica.jpg') center no-repeat; */
    border-bottom: ridge;
    background-size: cover;
    height: 670px;
    display: flex;
}

.subtit {
    text-align: center;
    font-size: 60px;
    color: #ffeba7;
    font-family: candara;
}

#buscar {
    border-radius: 25px;
}

.black {
    background-color: black;
}

.oculto {
    display: none;
}

.card:hover .oculto {
    display: block;
    animation: aparecer 1s forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateZ(10%)
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.center {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#estrenos {
    margin-top: 30px;
}

.card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.423);
    transition: opacity 1s;
    text-align: center;
    padding-top: 50%;
    box-sizing: border-box;
}

.card:hover .card-body {
    opacity: 1;
}

.card:hover .spiderman {
    filter: blur(2px);
}

.spiderman {
    height: 280px;
    transition: filter 0.3s;
    border-style: inherit;
    border-color: white;
    border-radius: 6px;
}

.linea {
    color: #ffeba7;
    width: 80%;
    position: relative;
    margin-left: 10%;
}

#fondo {
    height: 400px;
}

.iconos {
    display: inline-block;
    transition: transform 0.3s;
}


.iconos:hover {
    transform: scale(1.2);
    z-index: 1;
}

.medio {
    width: 70%;
    margin-left: 15%;
}

#n-tit {
    color: #ffeba7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;

}

#login {
    background-color: rgb(9, 33, 39);
    border-radius: 50px;
    height: 100%;
    margin-top: 8%;
    animation: aparecer 0.5s forwards;


}

#user,
#passw {
    border-radius: 20px;
}



.borroso {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.white {
    color: #ffeba7;
}

#btn-ingresar,
#btn-crear {
    border-radius: 20px;
    width: 150px;

}

.mi-nav {
    background-color: rgba(0, 0, 0, 0.374);
    height: 65px;
    width: 100%;
    backdrop-filter: blur(5px);
}

span {
    color: #ffeba7;
    text-decoration: none;
    font-size: 20px;
}

#linea-vertical {
    height: 250px;
    width: 0.5px;
    color: #ffeba7;
}

#ig:hover {
    content: url(../image/iconos/ig-con-color.png);
}

#wh:hover {
    content: url('../image/iconos/wh-con-color.png')
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.show {
    view-timeline-name: --pelis;
    view-timeline-axis: block;

    animation-timeline: --pelis;
    animation-name: show;

    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;

}

.escondido {
    display: none;
}

#Funciones {
    margin-right: 5%;
    position: relative;
    margin-left: 5%;
    margin-top: 50px;
    height: 400px;
    background-color: #171717;

}

#cerrar {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
}

#selected-image {
    display: absolute;
    height: 320px;
    align-items: center;

}

#you-tube {
    display: absolute;
    width: 65px;
    height: 60px;
    margin-top: 50%;
    z-index: 1;
    cursor: pointer;
    align-self: center;

}

#carta-funciones {
    position: absolute;
    margin-top: 20px;
    border: none;
}

#trailer {
    font-size: 25px;
    cursor: pointer;
    align-self: center;
}

#descripcion {
    color: #ffeba7;
    position: absolute;
    font-size: 20px;
    width: 150px;
    margin-top: 20px;
}

#trailer-video {
    width: 70%;
    height: 60%;
}

#contenedor-trailer {
    background-color: #3e3d3a00;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#cerrar-video {
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-left: 73%;
    cursor: pointer;
}

.dias {
    display: inline-block;
}

.test {
    margin-top: 5%;
    margin-left: 10%;

}

.test input {
    display: none;
}

.sr-dias.activo {
    background-color: #c8cacb;
    color: #101010;
    border-color: #c8cacb;
}

.sr-horario.activo {
    background-color: #c8cacb;
    color: #101010;
    border-color: #c8cacb;
}

.sr-dias.activo:hover {
    background-color: #adafaf;
    border-color: #adafaf;
    color: #101010;
}

.sr-horario.activo:hover {
    background-color: #adafaf;
    border-color: #adafaf;
    color: #101010;
}

.selector {
    color: #c8cacb;
}

#trailer {
    color: white;
}

#btn-siguiente {
    margin-top: 10%;
    margin-left: 10%;
    width: 250px;
    background-color: aquamarine;
    border-color: aquamarine;
    color: #101010;
    position: absolute;
}
#btn-carga{
    margin-top: 10%;
    margin-left: 10%;
    width: 0px;
    border: none;
    height: 38px;
    background-color: rgb(65, 83, 77);
    position: absolute;
    color: #c8cacb
}


.nombre-jodita{
    margin-top: 10%;
    margin-left: 25%;
    width:50%;
}
